*, *::before, *::after {
  box-sizing: border-box;
}


// Global colors
$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

// Global fonts
$font-main: 'Source Sans 3', sans-serif;

h1{
  margin-bottom: 0;
}

h4{
  margin-top: 0;
  position: relative;
  left: 2px;
}

.hero {
  color: #fff;
  background-color: darken($color-black, 20%); // darken the background color by 20%
  background-image: url('../images/background.png');
  background-size: cover;
  padding-bottom: 600px;
}

.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body{
  margin: 0;
  font-family: $font-main;
}

a{
  text-decoration: none;
  color: whitesmoke;
  margin: 0 10px;

  &:hover{
    color: $color-gold;
  }
}