*,
*::before,
*::after {
  box-sizing: border-box;
}

// Global colors
$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

// Global fonts
$font-main: 'Source Sans 3', sans-serif;

.splash {
  height: 100vh;
}

h1 {
  margin-bottom: 0;
}

h6 {
  margin-top: 0;
  position: relative;
  left: 3px;
}

.products {
  box-sizing: border-box;
  height: 100vh;
}

.hero-text {
  position: relative;
  z-index: 2;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  margin: 0;
  font-family: $font-main;
}

a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0 10px;

  &:hover {
    color: $color-gold;
  }
}

#pages {
  .page {
    display: none;

    &.active {
      display: block;
    }
  }
}