
// Global colors
$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

// Global fonts
$fonts: (
  regular: 'Arial',
  bold: 'Arial Bold',
  italic: 'Arial Italic',
  bold-italic: 'Arial Bold Italic',
  underline: 'Arial Underline'
);
