// variables.scss to miejsce na zmienne. Chodzi o zmienne z kolorami, nazwami czcionek, rozmiarami itd. Dzięki temu, że będą one przechowywane w jednym pliku, jesteśmy w stanie łatwo skonfigurować wygląd projektu, nawet nie patrząc na konkretne reguły!
// Global colors
$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

//FONTS
// dodac fonty dla splashy body headerow itd // wzorowac sie na settings.scss w pizzerii

