$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

.main-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;
    align-content: space-evenly;
}