$color-black: #000;
$color-white: #fff;
$color-gold: #BEA67C;

$font-main: 'Source Sans 3', sans-serif;

.main-nav{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: end;
  align-items: center;
  align-content: space-evenly;
}

.hero__content{
  padding-top: 17%;
  letter-spacing: 13px;

  .hero__title{
    font-size: 80px;
    display: block;
    margin-inline-start: -45px;
    color: #BEA67C;
  }

  .hero__subtitle{
    font-size: 80px;
    display: block;
    color: #BEA67C;
    margin-top: 0;
    margin-inline-start: 100px;
  }

  .line{
    position: relative;
    font-size: 80px;
    letter-spacing: -5px;
    color: #BEA67C;
    margin-top: -105px;
    align-items: center;
  }
}
.hero {
  color: white;
  background-image: url('../images/background.png');
  background-size: cover;
  box-sizing: border-box;
  height: 911px;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 911px;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.logo{
  &__title{
    letter-spacing: 5px;
  }

  &__subtitle{
    letter-spacing: 5px;
    font-weight: 600;
  }
  
}

.discover{
  display: grid;
  justify-items: center;
  margin: 200px 0 0 0;
  justify-content: center;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 5px;

  .icon-arrow{
    font-size: 40px;
    margin-left: 10px;
    margin-top: -20px;
  }

  span{
    position: relative;
    left: 8px;
  }
}

.pages{
  display: grid;
  
  .line{
    font-size: 80px;
    letter-spacing: -5px;
    color: #BEA67C;
    margin-top: -80px;
    left: 90px;
    align-items: center;
    
  }
}

.section-title{
  display: grid;
  justify-content: center;
  color: $color-gold;
  font-size: 70px;
  font-weight: 900;
  justify-items: center;
  margin-top: 40px;
  z-index: 123;
}

.about{
  margin-bottom: 215px;
}

.line{
  display: grid;
    position: relative;
    font-size: 80px;
    letter-spacing: -5px;
    color: #BEA67C;
    margin-top: -80px;
    justify-content: center;
}

.product-list{
  margin-top: 60px;
}
//about us section
.about-us{
  display: grid;
  color: white;
  background-image: url('../../images/about-us.jpg');
  background-size: cover;
  z-index: 1;
  position: relative;
}
.about-us::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 761px;
  background: rgba(0, 0, 0, 0.7); /* Black overlay with 50% opacity */
  z-index: 5;
}
.text-about{
  font-family: 'source sans 3', sans-serif;
  font-size: 45px;
  font-style: italic;
  z-index: 123;
}
.join-us{
  position: relative;
  left: 200px;
  display: flex;
    justify-content: flex-end;

}