
.header{
    width: 100%;
    display: grid;    
}
nav{
    display: grid;
    color: white;
    position: fixed;
    z-index: 10;
    width: 100%;
}
.brand{
    display: grid;
    display: inline;
    font-family: $font-main;
    &__title{
        letter-spacing: 10px;
    }
    &__subtitle{
        letter-spacing: 3px;
        position: relative;
        left: 3px;
    }

}
.splash{
    img {
        width: 100%;
        height: auto;
        display: block;
        position: fixed;
    }
}

.main-nav{
    
    padding: 0 0 0 259px;
    display: inline-block;
    a{
        text-decoration: none;
        margin-right: 10px;
        padding-right: 10px;
        font-family: $font-main;
        color: white;
    }
}
// .dark-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.6); /* Black with 50% opacity */
//   z-index: 1;
// }

.row{
    align-items: center;
}
